here is the form

<!-- <form action="/client/buttons" method="post"> -->
<%= form_tag "/client/buttons", method: :post do %>
  <div>
    Shape:<input type="text" name="input_shape">
  </div>
  <div>
    Color: <input type="text" name="input_color">
  </div>
  <div>
    Description: <input type="text" name="input_description" />
  </div>
  <div>
    Image URL: <input type="text" name="input_image_url" />
  </div>
  <input type="submit" value="Make a new button">
<% end %>